/Makefile.in
/src/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/depcomp
/.DS_Store
/INSTALL
/install-sh
/missing
/COPYING
/compile
/m4
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/Makefile
/src/*.o
/src/.deps/*.Po
/.settings
/src/config.h
/src/config.h.in
/src/Makefile
/src/PiCamIf
/src/stamp-h1
